.hero__frame {
    display: flex;
    color: white;
    width: 80%;
    margin: auto;
}

.main__hero {
    overflow: hidden;
    position: relative;
    padding: 5rem 0;
}

.main__hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../files/office.jpeg") center center no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.hero__title {
    font-size: 2.5em;
    margin-bottom: 2rem;
    /* color: #696969; */
}

.main__backgroud-content-block {
    width: 45%;
    transition: 3s;
    background-image: url("../files/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main__backgroud-content-block:hover {
    background-image: url("../files/office.jpeg");
}

.hero__text {
    font-size: 1.2em;
    margin-bottom: 1.5rem;
}

.hero__content {
    margin-right: 2rem;
    /* padding: 5rem 0; */
}

.search-form__form {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.search-form__form input {
    background-color: white;
    color: black;
    outline: none;
    border: none;
    padding: 0.7rem 0.5rem;
    font-size: 1.1em;
}

.search-form__btn {
    margin-left: 0.5rem;
    font-size: 1.1em;
    padding: 0.7em 1em;
    color: #9e9e9e;
    background-color: rgb(164, 193, 247);
}

.form__input:not(:placeholder-shown)~.search-form__btn {
    color: white;
    background-color: rgb(var(--base-color-CornflowerBlue));
}

.search-form__btn:hover {
    color: #9e9e9e;
    background-color: rgb(164, 193, 247);
}

.category__card {
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 16px #ccc;
    border-radius: 0.5rem;
    position: relative;
}

.category__card p {
    padding: 0rem 2rem;
    color: #393838;
    text-align: start;
    font-size: 2em;
}

.category__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about__frame {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about__list {
    max-width: 560px;
    padding: 32px;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}

.about__list ol {
    padding-left: 50px;
}

.about__list li {
    color: #4F4F4F;
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    line-height: 24px;

    &:before {
        content: '';
        display: block;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        border: 2px solid #ddd;
        position: absolute;
        top: -12px;
        left: -40px;
    }
}


li:nth-child(odd):before {
    border-color: rgb(var(--base-color-CornflowerBlue));
}

li:nth-child(even):before {
    border-color: #047655;
}