.hero__frame {
    display: flex;
    color: white;
    width: 80%;
    margin: auto;
}

.main__hero {
    overflow: hidden;
    position: relative;
    padding: 5rem 0;
}

.main__hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../files/office.jpeg") center center no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.hero__title {
    font-size: 2.5em;
    margin-bottom: 2rem;
    /* color: #696969; */
}

.main__backgroud-content-block {
    width: 45%;
    transition: 3s;
    background-image: url("../files/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main__backgroud-content-block:hover {
    background-image: url("../files/office.jpeg");
}

.hero__text {
    font-size: 1.2em;
    margin-bottom: 1.5rem;
}

.hero__content {
    margin-right: 2rem;
    /* padding: 5rem 0; */
}

.search-form__form {
    width: 100%;
    display: flex;
}

.search-form__form input {
    background-color: white;
    color: inherit;
    outline: none;
    border: none;
    padding: 1rem 0.5rem;
}

.search-form__btn {
    background-color: rgba(var(--base-color-CornflowerBlue), 1);
}