:root {
    --base-color-CornflowerBlue: 100, 149, 237;
    --font-size: 16px;
    --font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: var(--font-size, 16px);
}

.registration-form__form {
    width: 400px;
    box-shadow: 0 4px 16px #ccc;
    border-radius: 10px;
    padding: 32px;
    font-family: var(--font-family, sans-serif);
    letter-spacing: 1px;
}

.reg-group {
    transition: 1s;
    display: none;
}

.registration-form__label {
    font-size: 2em;
    font-weight: 500px;
    text-align: center;
}

.registration-form__submit-button,
.form__input {
    font-family: var(--font-family, sans-serif);
    font-size: 1em;
    letter-spacing: 1px;
}

.form__submit {
    display: flex;
    justify-content: flex-start;
}

.btn {
    border: none;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(var(--base-color-CornflowerBlue), 0.3);
    color: #9e9e9e;
    padding: 10px 20px;
    transition: 0.3s;
}

.registration-form__submit-button {
    margin-right: 20px;
}

.registration-form__cancel-button:hover {
    background-color: #FF6347;
    color: #696969;
}

.form__switch {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    align-items: center
}

.form-switch__btn {
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    /* border-radius: 5px; */
    color: #9e9e9e;
    background-color: rgba(var(--base-color-CornflowerBlue), 0.3);
    transition: 0.3s;
    cursor: pointer;
}

.active {
    background-color: rgba(var(--base-color-CornflowerBlue), 1);
    color: white;
}

#registration-form__error {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 0.75em;
    color: coral;
    text-transform: uppercase;
}