.services__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  align-content: center;
  justify-content: center;
  align-items: stretch;
}

.services {
  width: 100%;
}



/* .card {
  display: flex;
  position: relative;
  flex-direction: column;
} */
.service-card {
  width: 300px;
  height: 350px;
  text-align: center;
  box-shadow: 0 4px 16px #ccc;
  border-radius: 0.5rem;
  position: relative;
}

.service-card_top {
  width: 100%;
  position: relative;
}

.service-card__label {
  text-align: start;
  margin: 1rem;
  height: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.card__info {
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
}

.task-card {
  margin-bottom: 2rem;
}

.container--partners::after {
  content: "Желающие ⬇";
}

.case-container,
.container--partners {
  display: flex;
  flex-direction: column-reverse;
}

.profile-card {
  /* height: 10rem; */
}

.profile-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}

.profile-card__label {
  position: absolute;
  right: 0;
  top: 0;
}

.main__frame {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.case-container {
  margin-right: 2rem;
}

.order {
  outline: 5px solid #056208;
  outline-offset: 3px;
}