/* на 1920px ориенитируемся пока ( и под ноуты с zoom системы 125%) */



:root {
  --base-color-CornflowerBlue: 100, 149, 237;
  --font-size: 16px;
  --font-family: sans-serif;
  --color-deep-grey: #696969;
  --color-test-yellow: #d1c705;
  --color-test-green: #095204;
  --color-test-white: #d2d5dd;
}

a {
  text-decoration: none;
  color: inherit;
}

/* test */
.--test-static-background {
  background: repeating-linear-gradient(45deg, var(--color-black), var(--color-black) 10px, var(--color-test-green) 10px, var(--color-test-green) 20px);
  border: solid 2px var(--color-test-green);
  background-size: 100%;
}

.--test-static-img {
  background: repeating-linear-gradient(45deg, var(--color-black), var(--color-black) 10px, var(--color-test-white) 10px, var(--color-test-white) 20px);
  border: solid 2px var(--color-test-white);
}

.--test-get-img {
  background: repeating-linear-gradient(45deg, var(--color-black), var(--color-black) 10px, var(--color-test-yellow) 10px, var(--color-test-yellow) 20px);
  border: solid 2px var(--color-test-yellow);
  background-size: 100%;
}

body {
  font-size: var(--font-size, 16px);
  font-family: var(--font-family, sans-serif);
  color: black;
  /* background-color: antiquewhite; */
}

.moneyNow::after {
  content: '🍃';
}

/*  */
* {
  box-sizing: border-box;
  /* border: #e11717b2 2px solid; */
}

.frame {
  padding: 0 3%;
}



/*  */
.section {
  padding: 1rem 0;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  /* пока без контента ставим жесткие размеры */
  max-width: 5%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.header__link {
  height: 100%;
  color: #9e9e9e;
  position: relative;
  margin: 10px 20px;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  transition: 0.3s;
}

.header__link__after {
  width: 75%;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  bottom: -10px;
  left: 12.5%;
  transition: 0.3s;
}

.header__link .header__link__after {
  background-color: transparent;
}

.header__link:hover>.header__link__after {
  background-color: rgb(var(--base-color-CornflowerBlue));
}

.header__link:hover>a {
  color: rgb(var(--base-color-CornflowerBlue));
}

.header-profile__info {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: -100%;
  top: 2em;
  width: 300%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 4px 16px #ccc;
  border-radius: 0.5rem;
  transition: 0.5s;
  color: var(--color-deep-grey)
}

.header-profile:hover>.header-profile__info {
  opacity: 1;
  visibility: visible;
}

.hero__frame {
  display: flex;
  color: white;
  width: 80%;
  margin: auto;
}

.none {
  display: none;
}

.title {
  font-size: 2.5em;
  color: var(--color-deep-grey);
  text-align: center;
  position: relative;
  transition: 0.1s;
}

.title::after {
  content: '';
  width: 3.6em;
  position: absolute;
  inset: 110% auto auto 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-deep-grey);
  height: 1px;
}

.main__hero {
  overflow: hidden;
  position: relative;
  padding: 5rem 0;
}

.main__hero::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../files/office.jpeg") center center no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.hero__title {
  font-size: 2.5em;
  margin-bottom: 2rem;
  /* color: #696969; */
}

.main__backgroud-content-block {
  padding: 5% 0;
  margin: -5% 0;
}

.main__backgroud-content-block {
  width: 45%;
  transition: 3s;
  background-image: url("../files/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main__backgroud-content-block:hover {
  background-image: url("../files/office.jpeg");
}

.txt {
  margin: 0;
}

.txt--lite {
  /* color: var(--color-test-white); */
}

.title--lite {
  color: var(--color-test-white);
}

.hero__text {
  font-size: 1.2em;
  margin-bottom: 1.5rem;
}

.hero__content {
  margin-right: 2rem;
  /* padding: 5rem 0; */
}



.category__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category__card {
  width: 300px;
  height: 350px;
  text-align: center;
  box-shadow: 0 4px 16px #ccc;
  border-radius: 0.5rem;
}

.card {
  margin: 1rem;
  text-align: center;
  box-shadow: 0 4px 16px #ccc;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.card img {
  border-radius: 0.5rem;
}

.card__content-block {
  padding: 1rem;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__title {
  margin: 0;
  height: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* color: rgb(var(--base-color-CornflowerBlue)); */
  color: black;
  margin-bottom: 10px;
}

.card__txt {
  height: 54px;
  font-size: 1em;
  overflow: scroll;
  color: var(--color-deep-grey);
  margin-bottom: 10px;
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__Author {
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 0 9px 16px #ccc;
}

.about__frame {
  display: flex;
  flex-wrap: wrap;
}

.about__reviews {
  width: 100%;
}

.about__content-block {
  flex: 5;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.about__promo-block {
  flex: 6;
  min-height: 30vh;
  margin-bottom: 1rem;
}

.reviws__list {
  display: flex;

  align-items: stretch;
  justify-content: space-between;
}

.reviws__card {
  max-width: 18%;
  padding-bottom: 1rem;
}

.card__description-block {
  padding: 0 0.5rem;
}

.footer__frame {
  display: flex;
  width: 100%;
}

.footer__logos {
  flex: 2;
  margin-right: 20%;
}

.footer__nav {
  flex: 7;
  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.8rem;
  grid-column-gap: 7rem;
}

.footer__nav-link {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0;
  flex: 5;
}

.cart-card {
  margin-bottom: 5rem;
  padding: 0.5rem;
}