:root {
  --base-color-CornflowerBlue: 100, 149, 237;
  --font-size: 16px;
  --font-family: sans-serif;
  --color-deep-gray: #696969;
  --color-lite-gray: #557d7c;
  --color-test-yellow: #d1c705;
  --color-test-green: #095204;
  --color-test-white: #d2d5dd;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size, 16px);
  font-family: var(--font-family, sans-serif);
  color: black;
  background-color: white;
  overflow-x: hidden;
  /* background-color: antiquewhite; */
}

body::-webkit-scrollbar {
  display: none;
}

/*  */
* {
  box-sizing: border-box;
  /* border: #e11717b2 2px solid; */
}

.frame {
  padding: 0 3%;
}

/*  */
.section {
  padding: 1rem 0;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  object-fit: cover;
}

.logo {
  /* пока без контента ставим жесткие размеры */
  max-width: 5%;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: inherit;
  z-index: 100;
  box-shadow: 0 5px 16px 0 #ccc;
}

.header__link {
  text-transform: uppercase;
  height: 100%;
  color: #9e9e9e;
  position: relative;
  margin: 10px 20px;
  text-align: center;
  align-items: center;
  font-size: 1.1em;
  transition: 0.3s;
}

.header__link__after {
  width: 75%;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  bottom: -10px;
  left: 12.5%;
  transition: 0.3s;
}

.header__link .header__link__after {
  background-color: transparent;
}

.header__link:hover>.header__link__after {
  background-color: rgb(var(--base-color-CornflowerBlue));
}

.header__link:hover>a {
  color: rgb(var(--base-color-CornflowerBlue));
}

.none {
  display: none;
}

.title {
  font-size: 2.5em;
  color: var(--color-deep-grey);
  text-align: center;
  position: relative;
  transition: 0.1s;
}

.title::after {
  content: '';
  width: 3.6em;
  position: absolute;
  inset: 110% auto auto 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-deep-grey);
  height: 1px;
}

.main__backgroud-content-block {
  padding: 5% 0;
  margin: -5% 0;
}

.txt {
  margin: 0;
}

.txt--lite {
  /* color: var(--color-test-white); */
}

.title--lite {
  color: var(--color-test-white);
}

.order-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.order-card,
.service-card {
  width: 300px;
  height: 380px;
  text-align: center;
  box-shadow: 0 4px 16px #ccc;
  border-radius: 0.5rem;
  position: relative;
}

.card__price,
.card__price~span {
  color: #32CD32;
}

.card__price::after {
  content: ' Р';
}

.card__rating::after {
  content: ' ✨';
}

.card__span,
.card__rating~span {
  display: none;
}

.card {
  margin: 1rem;
  text-align: center;
  box-shadow: 0 4px 16px #ccc;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.card__star {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 10%;
  z-index: 5;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}

.service-card__image>img {
  display: block;
  border-radius: 0.5rem;
  height: 200px;
  margin: auto;
}

.card__content-block {
  padding: 1rem;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;

}

.card__title {
  font-size: 1.4em;
  font-weight: 600;
  height: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.card__txt {
  height: 54px;
  font-size: 1em;
  overflow: hidden;
  color: var(--color-deep-grey);
  margin: 1rem 0;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.card__Author {
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 0 9px 16px #ccc;
}


.about__reviews {
  width: 100%;
}

.about__content-block {
  flex: 5;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.about__promo-block {
  flex: 6;
  min-height: 30vh;
  margin-bottom: 1rem;
}


.card__description-block {
  padding: 0 0.5rem;
}

.footer__frame {
  border-top: 1px solid #9e9e9e;
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-card {
  margin-bottom: 5rem;
  padding: 0.5rem;
}

/*---------- форма -----------*/
.form__form-group {
  position: relative;
  margin: 32px 0 16px;
}

.form__label {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
  color: #9e9e9e;
  transition: 0.3s;
}

.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  width: 100%;
  outline: none;
  transition: 0.3s;
}

.form__input:focus {
  border-bottom: 1px solid #696969;
}

.form__input:focus~.form__label,
.form__input:not(:placeholder-shown)~.form__label {
  top: -16px;
  font-size: 0.75em;
  color: #e0e0e0;
}

.btn {
  border: none;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(var(--base-color-CornflowerBlue), 0.3);
  color: #9e9e9e;
  padding: 1rem 1rem;
  transition: 0.3s;
  cursor: pointer;
}